[Unit]
Description = Monitor the local apt repository and update it when necessary

[Service]
Type = simple
LogLevelMax = notice
EnvironmentFile = ${HOME}/.config/mkaptrepo/mkaptrepo.conf
ExecStart = /usr/bin/mkaptrepo monitor

[Install]
WantedBy = default.target
