[Unit]
Description = Monitor the local apt repository and update it when necessary
Requires = user@%i.service

[Service]
Type = simple
ExecStart = /usr/local/bin/mkaptrepo monitor
Restart = on-failure
RestartSec = 5s
User = %i
Group = %i

[Install]
WantedBy = multi-user.target
